.task_checklist table.o_list_table thead > tr > th[data-name="check_box"]{
     width: 50px !important;
}

.task_checklist table.o_list_table tbody > tr > td[name="check_box"]{
    text-align: center;
}

.o_list_row_count_sheliya{
    width: 20px;
}
.task_checklist .text-muted{
    text-decoration: line-through;
}

table.o_section_list_view tr.o_data_row.o_is_section {
    font-weight: bold;
    background-color: #DDD;
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}
